.status {
  &-field {
    position: absolute;
    left: 5px;
    right: 0;
    top: 110%;
  }

  &-btn {
    color: blue;
    border-bottom: 1px dashed blue;

    &:hover {
      border-bottom: none;
    }
  }

  &-text {
    background-color: #ccc;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      top: -5px;
      left: 15px;
      background-color: #ccc;
      transform: rotate(45deg);
    }
  }
}
